* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Befoil";
  src: url("./fonts/befoil/BEFOILLINE.ttf");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/nunitoSans/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "Acherus Feral";
  src: url("./fonts/acherusFeral/ofont.ru_Acherus\ Feral.ttf");
}