.wrapper{
    width: 100%;
    height: 750px;
    background-image: url("../../images/backgrounds/backgroundMain.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}