.circle {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -19px;
  margin-right: 28px;
}

.arrow {
  width: 11px;
}

.navlinkConsult {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  color: lightgray;
}
