.wrapper {
  margin-left: 120px;
  margin-top: 180px;
  width: 87.0715%;
  display: flex;
  justify-content: space-between;
  height: 637px; 
}

.wrapperImg{
  width: 39.715%;
  position: relative;
}

.peopleBackground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.containerMohanad,
.containerElena {
  position: relative;
  background-color: #3b47b3;
  border-radius: 12px;
  width: 150px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.containerMohanad {
  right: -376px;
  top: 330px;
}

.containerElena {
  left: -50px;
  top: 372px;
}

.title {
  width: 560px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #1f1f1f;
}

.span {
  color: #3B47B2;
}
